[2014-09-22 03:47] aaronbrethorst opened #1 "needs demo"

[2014-10-11 12:02] #1 closed, assigned to nobody

[2014-10-17 19:40] ayushgoel opened #2 "Using Gifu stops UIActivityIndicatorView animations"
Trial project: https://www.dropbox.com/s/sgdby23f30yp7jn/trial.zip?dl=0

[2014-10-26 04:53] davidchalifoux opened #3 "Build Fails"
Builds are not working even with the demo project when building with the latest version of XCode.
Something along the lines of "Type 'CFstring!' does not conform to protocol 'NSCopying'"

[2014-11-10 20:39] #3 closed, assigned to nobody

[2014-11-10 21:57] #2 closed, assigned to nobody

[2014-12-21 10:29] kaishin opened #7 "Animated image always returns `CGRectZero` as intrinsic content size"

[2014-12-21 10:32] #7 closed, assigned to nobody

[2014-12-21 15:57] kaishin opened #8 "Image view flickers when selected inside a collection view cell"
There is an issue with using Gifu in a collection view where the image view briefly turns black as the cell gets selected.

I investigated and it seems like `UICollectionViewCell` messes with the layer contents of its child image view when it gets selected. Some private `UIImage` APIs need to be overridden in order for the image view to get the right layer content. When the image view is not anima

[2015-01-23 23:53] #8 closed

[2015-02-06 17:06] LouisBorlee opened #12 "Memory problem on AnimatedImages"
Hello,

I am currently using the pre-carthage Gifu and have been encountering some memory problem.

I have a few AnimatedImages in a dictionary and, whilst I try to clear them with dictionary.removeAll(), I can see that their deinit (which I have implemented) is never called.

I had a similar problem with an AVPlayer overload of mine and I know objects won't free themselves until they have no long

[2015-03-11 08:18] CodeEagle opened #13 "Any Support For ASNetworkImageNode?"
Hi kaishin,
     Are there any support for ASNetworkImageNode?

[2015-03-24 22:44] hijohnnylin opened #15 "building on iOS 8.3?"
The last release of GifU says “Make demo run on Xcode 6.3”, but I’m getting this error when doing carthage update:

$ sudo xcode-select -s /Applications/Xcode-Beta.app
$ carthage update
*** Fetching gifu
*** Fetching runes
*** Checking out gifu at “v0.8.2”
*** Downloading runes at “1.2.2: Extension compatibility”
*** xcodebuild output can be found in .../T/carthage-xcodebuild.Ey3mBh.log
*** Buildi

[2015-04-09 23:51] mbodge commented on #15
Having the same problem. Love this extension and hoping for a "swift" update.

[2015-04-10 06:11] #15 closed

[2015-04-16 17:32] mbodge opened #17 ""image not found" error on startup"
Hey guys, first of all love the library. Was using and old version of it until Swift 1.2 came out and had to upgrade. Am using Carthage and the latest version (with the Int stuff fixed). I've simply added the Gifu and Runes frameworks to a blank project and added no code at all to the ViewController and I get this error when I start the app:

[code]

I haven't instantiated anything but it breaks r

[2015-04-16 17:48] mbodge commented on #17
Ok I solved that by also adding the frameworks to the "embedded binaries" section of my app. Now i'm getting an error that "AnimatedImage" is an unresolved identifier. Any help would be super appreciated. Thanks again.

[code]

[2015-04-22 15:40] tiemevanveen commented on #15
I'm having the same problem, @hijohnnylin why did you close this issue? Did you find a solution?

[2015-05-16 17:35] izkrivera opened #19 "Build failes due to Swift Compiler Error"
/gifu/Animator.swift:3:8: No such module 'Runes'

Xcode 6.3.1
target iOS 8.3

[2015-05-17 12:44] itsdan opened #20 "CocoaPods support"

[2015-05-21 20:04] TarangKhanna commented on #19
Download the framework Runes, you can do so by installing carthage and running 'carthage update'. Make sure your cartfile has - github "thoughtbot/runes"
and if u want gifu also include - github "kaishin/gifu"
Hope that helps.

[2015-05-27 23:40] izkrivera commented on #19
Thanks, instead I installed Carthage and used it to build Gifu, I get no compiler errors on the Xcode editor but on build I get "Unknown class AnimatableImageView in Interface Builder file." for the following code:

@IBOutlet weak var preloaderView: AnimatableImageView! {
	didSet {
		preloaderView.animateWithImage(named: "gt_logo_314.gif")
	}
}

[2015-05-28 21:28] izkrivera commented on #19
Never mind it was a Carthage issue.

[2015-05-28 22:24] izkrivera commented on #19
Resolved. It was a Carthage issue.

[2015-06-02 15:56] SamBuydens opened #21 "Runtime error"
dyld`dyld_fatal_error:
->  0x1fee708c <+0>: trap
    0x1fee7090 <+4>: nop

Every time I add the code either via Framework of via adding the files from source I end up with this error. What am I doing wrong?

[2015-06-03 08:15] SamBuydens commented on #21
I had to add the frameworks to embedded binaries and that did the trick!

[2015-06-03 08:18] SamBuydens commented on #17
I had the same issue, here is what I did to initialize a gif.

[code]

[2015-06-03 14:28] SamBuydens opened #22 "Huge memory usage"
This frameworks usages enormous amounts of memory, running the app in instruments even goes up to 335mb...

[2015-06-11 09:35] samuelbeek commented on #20
+1

[2015-07-18 18:49] lmacfadyen commented on #19
izkrivera, can you elaborate on what the issue was with Carthage?  I have the same issue and haven't found the cause yet.  Was wondering if you stopped using Carthage or was it a configuration issue with it?  Thanks!

[2015-07-18 19:03] izkrivera commented on #19
I updated Carthage to the latest build and deleted all Cartage project files and started all over. I also had to be careful about specifying the file locations for compilation. It works now. Does this help? Otherwise I can open up the project a bit later and check the exact pathing information.

[2015-07-18 19:12] lmacfadyen commented on #19
Thanks for blazingly fast response on a weekend! I had used latest Carthage, and this ended up being a user error on my part...hadn't added the Gifu module in Interface Builder where I have my AnimatableImageView subclass of UIImageView. AnimatableImageView doesn't show up in classes but I specify it anyway and it works. Thanks very much.

[2015-07-30 06:53] lizhijun commented on #20
+1

[2015-07-31 22:19] Lxrd-AJ commented on #20
+1

[2015-09-08 07:44] callmewhy commented on #20
+1...

[2015-09-14 09:47] rhenz commented on #20
+1

[2015-09-15 15:03] lmacfadyen opened #26 "Gifu For Swift 2"
For me Gifu isn't working under Swift 2. I assume it isn't updated yet but can anyone else confirm that this is currently expected?

Thanks!

[2015-09-16 09:47] zyg-github opened #27 "error ：dyld: Library not loaded: @rpath/libswiftSecurity.dylib"
error ：dyld: Library not loaded: @rpath/libswiftSecurity.dylib

libswiftSecurity.dylib ？？

[2015-09-25 10:33] dongkaipo commented on #20
+1

[2015-10-14 08:54] xing-ou commented on #20
+1

[2015-10-20 04:40] yurijmi commented on #20
+1

[2015-10-22 19:05] kaishin commented on #26
Updated now in master.

[2015-10-22 19:05] #26 closed

[2015-10-22 23:56] lmacfadyen commented on #26
Thanks for the updates. I use Carthage to build, and it updates Runes, but I can't seem to get it to update Gifu. Still seems to be Swift 1.2. In Headers directory, Gifu-Swift.h it has Swift 1.2. Using Sources there are operator compile errors. Should carthage update be resulting in Swift 2.0?

[2015-10-23 09:32] kaishin commented on #26
@lmacfadyen I haven't released 1.0.0 yet (still working on docs). Use `"kaishin/gifu" "master"` in your Cartfile for now. Runes is no longer a dependency so you can remove it from your project if you are not using it in your own code.

[2015-10-23 11:44] lmacfadyen commented on #26
Thank you for a fast response! Really appreciate it and will update to master that way. Cheers!

[2015-11-12 09:27] OlafAndreas commented on #20
+1

[2015-11-14 04:02] jackywang135 commented on #27
There is an "Embedded Content Contains Swift Code" flag in the Build Settings that needs to be set to YES. It was NO by default.

[2015-11-16 14:47] bpillon commented on #27
My "Embedded content contains swift code" is set to YES but I have the same problem.

[2015-11-22 12:13] jungtong commented on #20
+1

[2015-11-27 07:46] thunderousNinja commented on #20
:+1:

[2015-11-27 09:07] thunderousNinja commented on #12
Bump... Are you guys aware of any memory leak issues?

I am also facing memory issues when placing `AnimatedImage` in a UITableView, the memory just keeps going up :[ When profiling I noticed that cg raster data was not getting deallocated. I also verified that the deinit is getting called in `AnimatedImage`. So I wasn't sure exactly what was up.

[2015-12-02 18:42] tonyd256 commented on #20
Hey all, would anyone want to PR a podspec for this? We can eventually get to it but we could get it sooner if anyone has some spare cycles to help out. Thanks in advance!

[2015-12-02 22:23] thunderousNinja commented on #20
I'll have some spare time to do it this weekend if no one else does it by then.

[2015-12-02 22:40] #20 closed

[2015-12-02 22:54] kaishin commented on #20
Added the podspec but I am having issues with validating it due to the Runes submodule dependency.

[2015-12-02 23:05] kaishin commented on #20
Done and done.

[2015-12-03 01:33] thunderousNinja commented on #20
nice!

[2015-12-03 15:04] fouadkada opened #30 "Any support to get duration of gif file"
is it currently possible to get the duration of the animation in the gif file?

[2015-12-03 17:15] kaishin commented on #30
No it is not. It could be something that the API exposes though. What you need that info for?

[2015-12-03 17:17] fouadkada commented on #30
i am trying to use the project to display a gif as a splash screen, it would be nice to get the duration of the animation to start a new viewcontroller after a specific duration

[2015-12-03 17:18] kaishin commented on #30
Yes, that is not unreasonable.

[2015-12-03 17:25] fouadkada commented on #30
i am following the same approach on the android version of my project and for that i am using this project
and that project exposes this set of APIs
[code]

they also expose an event listener that is triggered on animation completion which can be used to start a new controller
this is the equivalent in android
[code]

[2015-12-03 17:48] kaishin commented on #30
Thanks for sharing this @fouadkada. I had thought about adding some of these and this is a good reference. I'd happily welcome PRs as well.

[2016-01-20 19:12] itaydressler commented on #12
Bump.

[2016-01-21 12:24] kaishin commented on #12
Interesting. I am personally not aware of any memory leaks but I wouldn't rule them out.

To be able to debug this, we will need more information such as:

- Gifu version used
- Xcode/Swift version
- Code snippet where the images are created
- Optionally screenshot of Instruments showing where the memory leaks are happening.

[2016-02-11 21:08] mitchellporter opened #34 "Bad scrolling performance"
I installed this late last night and wanted to see how it matched up against FLAnimatedImage. Not sure if this has anything to do with my particular setup but the scrolling performance was very "jittery". Sometimes it was smooth, other times the scroll motion would get stuck for a second and then become unstuck.

For my setup I had a collection view with a with a Gifu image view in each cell. When

[2016-02-12 10:32] kaishin commented on #34
Hi @mitchellporter. I think some of it has to do with the lack of a proper way to prepare the images for reuse. This should solve the issue (hopefully) once merged https://github.com/kaishin/Gifu/pull/33

[2016-02-12 12:57] burakkilic opened #35 "How to play animation once?"
Hi;

I want to play the animation once and it stops at the end of the animation. How can I do that?

[2016-02-12 19:23] mitchellporter commented on #34
@kaishin Sounds great!

[2016-02-15 16:20] Richard-Barbat opened #36 "resizing results in bad compression"
I have created an UIImageView with autolayout-constraints in storyboard and set the class to AnimatableImageView. Everything works fine, the gif is animating well. The viewmode is set to"Aspect Fit" because the original gif is actually bigger than the screen but after resizing the quality of the image has suffered. Is there a way to keep the quality of the gif as good as possible?

[2016-02-18 02:49] Monte9 commented on #34
@kaishin Can you please merge #33? I am having the same problem with scrolling and its not fun to use.

[2016-02-18 10:39] kaishin commented on #34
Done.

[2016-02-18 10:44] kaishin commented on #34
@Monte9 @mitchellporter Try again with `v1.1.0`. If the problem persist, your code needs to be optimized (when you get the image data, on which thread, do you cache the data, etc). I'm afraid that is not something that Gifu can do for you.

[2016-02-19 20:43] Monte9 commented on #34
Ok got it. Thanks.

[2016-03-07 20:45] burakkilic opened #37 "Some methods are not found in Pods"
I wanted to use prepareForReuse but it is not found. I think Pods is not updated.

[2016-03-15 14:19] AarioAi opened #44 "No error, but no image displays"
`
let savingLoading = AnimatableImageView(frame: CGRect(x: UIScreen.mainScreen().bounds.width - 60, y: UIApplication.sharedApplication().statusBarFrame.height, width:300, height:30))
        savingLoading.animateWithImage(named: "loading1.gif")
        savingLoading.startAnimatingGIF()
        self.view.addSubview(savingLoading)
`
Why no image displays?

[2016-03-16 14:18] hevselavierlines opened #45 "Doesn't compile on newest Swift version"
Hello, I was trying your project in the newest Xcode version, however, the project didn't compile due to some changes.
* New operators need to be declared with infix operator >>- {associativeity left precedence 160)
* The Interface builder needs to create a new UIView for the AnimatedImageView otherwise the app crashed
* Import UIKit almost everywhere.
With these improvements everything worked fin

[2016-03-18 14:25] storix commented on #45
What Xcode version exactly do you have? My version is 7.2.1 and it compiles just fine.

[2016-03-21 22:15] startupthekid commented on #45
I have 7.2.1 as well and it doesn't compile. If I import Gifu, Xcode says `Cannot load underlying module for Gifu`.

@hevselavierlines then I cleaned Xcode and everything built/worked just fine. Try doing a clean and then re-building your entire project.

[2016-03-23 18:57] LeonardBonfils opened #46 "You should perhaps change the AnimatableImageView name so it's easier to use Gifu with IBAnimatable ?"
IBAnimatable already has an AnimatableImageView class. Perhaps call it GifuImageView ?

[2016-03-24 11:00] kaishin commented on #46
No one needs to change anything. If you use both, use the module name like this `Gifu. AnimatableImageView`.

[2016-03-24 11:00] #46 closed

[2016-03-30 13:30] storix opened #48 "Animation is playing after calling prepareForAnimation"
Hi, guys. I've just encountered an issue with the prepareForAnimation method:  documentation states that it prepares the frames **without** starting the animation. But in my app it starts playing anyway. Do you have this behaviour too?

[2016-03-30 15:52] kaishin commented on #48
That doesn't sound right. All it does is attach the display link, without **unpausing** it. Are you sure you can isolate this?

[2016-03-30 16:13] storix commented on #48
Ok, i tried to change [this line](https://github.com/kaishin/Gifu/blob/ad67756cefd7fde1727e3d1ad00459c29e4f9f06/Demo/demo/classes/ViewController.swift#L10) in the Demo project to this:
`    imageView.prepareForAnimation(imageNamed: "mugen.gif")
`
and it starts playing...Is this intended behavior?

[2016-03-30 22:26] kaishin commented on #48
@storix No it isn't. I'll take a look at this.

[2016-03-30 22:30] kaishin commented on #45
Bothe the framework and the demo are running fine on Xcode 7.3 and Swift 2.2. @hevselavierlines Please provide more info or close the issue if you are able to run it now.

[2016-03-31 11:11] storix commented on #48
You know, I resolved the issue. According to the [Apple's docs](https://developer.apple.com/library/ios/documentation/QuartzCore/Reference/CADisplayLink_ClassRef/#//apple_ref/occ/instp/CADisplayLink/paused) the default value of the `pause` property is false. So, i just added this line
`displayLink.paused = true`
before [this](https://github.com/kaishin/Gifu/blob/master/Source/AnimatableImageView.s

[2016-03-31 11:23] kaishin commented on #48
@storix I have a PR ready! Feel free to review it and I'll merge it.

[2016-03-31 14:38] mr-seiler commented on #12
I have created a sample project which I believe demonstrates a memory leak: https://github.com/mr-seiler/gifu-bug-demo/tree/master

Instructions are in the Readme file.  The essential structure of application is simply a navigation controller with a button that pushes a second view controller onto the navigation stack; the second view controller contains a Gifu AnimatableImageView.  When the pushe

[2016-03-31 15:13] mr-seiler opened #53 "AnimatableImageView with no content causes crash when deallocated"
If an AnimatableImageView is initialized but otherwise never used, the application will crash when the AnimatableImageView is deallocated.

I believe the source of the problem is here: https://github.com/kaishin/Gifu/blob/master/Source/AnimatableImageView.swift#L94

If the view was created but no other methods were called, then the lazy `displayLink` property will not have been initialized, so the

[2016-03-31 17:34] mr-seiler commented on #12
We have [found a solution](http://merowing.info/2015/11/the-beauty-of-imperfection/#animation:2ef054e1986c78a07cd2936c4a6d6e4a) to prevent a reference cycle between CADisplayLink and the AnimatableImageView; I will have a PR open with the implementation shortly. I will also attach the Instruments trace to the PR.

[2016-04-04 14:24] rayfix commented on #45
@kaishin Great project!  My 2 cents.  So when I download the tar ball and open the workspace it looks like it depends on the Runes project.  (There is a missing source file Runes.swift)  Runes.swift appears to provide the infix and precedence of the functional operators <^> <*> >>-.  I am guessing @hevselavierlines did not use Carthage or Cocoapod which resulted in errors.  You are so close to bre

[2016-04-04 19:44] kaishin commented on #45
@rayfix Yes, dropping the Runes dependency is the plan. Thanks!

[2016-04-04 22:07] mr-seiler opened #56 "GIFs longer than framePreloadCount do not complete after Swift 2.2 syntax update"
Here is a demo project which exhibits the problem:
https://github.com/mr-seiler/gifu-bug-demo/releases/tag/broken-precache

While working on our fork we've noticed that Gifu would not play through the entirety of a GIF with more frames than the `framePreloadCount` [property](https://github.com/kaishin/Gifu/blob/91ba7459cb25ab55fdf590f71270e324c66d63f8/Source/AnimatableImageView.swift#L11) of `Anim

[2016-04-07 12:04] #48 closed

[2016-04-08 13:23] pbruz commented on #53
If fact there is more common problem with this deinit. IMO it has no chance to work properly. If you think about object life cycle, you will see that there is a releasing cycle and in fact it leads to crash. Even if you call `startAnimatingGIF`.
The problem is, as you mentioned, with `deinit` method.
<img width="408" alt="screen shot 2016-04-08 at 15 16 17" src="https://cloud.githubusercontent.com

[2016-04-08 13:36] mr-seiler commented on #53
@pbruz this may help with that: https://github.com/kaishin/Gifu/pull/55

[2016-04-08 13:46] pbruz commented on #53
@mr-seiler Yeah, you're right. Sorry, I didn't see this. I had a problem with that before #55 was created. As a solution I used not so pretty key-value coding. But it would be nice to fix this :)

[2016-04-10 20:00] #12 closed

[2016-04-10 22:34] #53 closed

[2016-04-16 09:15] gkye commented on #37
ie. `prepareForReuse`

[2016-04-24 09:41] kaishin commented on #35
Tackled in #42.

[2016-04-24 09:42] kaishin commented on #36
Fixed in #40.

[2016-04-24 09:42] #36 closed

[2016-04-24 09:44] #19 closed

[2016-04-24 19:04] jferdizzle opened #57 "Download from URL"
Hey is there a good way to use Gifu when downloading the file from a URL? I've only gotten it to work when the file is saved in the project.

[2016-04-24 20:12] jferdizzle commented on #57
Sorry I figured it out. Just using NSData and calling the data function provided in the ReadMe.

[2016-04-24 20:12] #57 closed

[2016-04-24 22:47] #45 closed

[2016-04-29 09:25] MingLoan opened #60 "pod cannot update to v1.1.0"
In my Podfile, I added pod 'Gifu', but it always get v1.0.1 instead of the new one.

[2016-04-29 09:32] MingLoan commented on #60
Quick fix:
pod 'Gifu', :git => 'https://github.com/kaishin/Gifu.git', :commit => '310377c'

[2016-04-29 09:32] #60 closed

[2016-04-29 09:33] MingLoan commented on #37
I made a quick fix #60

[2016-04-29 15:22] kaishin commented on #60
The podfile is a bit out -of-date. I will fix that once #59 is merged.

[2016-05-01 21:10] #56 closed

[2016-05-02 13:13] kaushikdas0 opened #61 "Is there a way i can remove the image?"
Say i want to display the animated image but after a trigger i want to remove the gif or replace with another static png image?

[2016-05-04 02:36] litt1e-p opened #62 "carthage build warnings"
there are some swift 3 syntax warnings while carthage building
[code]
I did not found in the source code. Is framework not the latest?

[2016-05-04 10:41] alexth opened #63 "Notifications about animation end"
Hey, thanks for such a cool lib!
As I can see, now I am not able to get notified when animation ended, right?
My goal is to start second animation right after first was played.

Best regards,
Alex

[2016-05-06 18:37] muhasturk commented on #17
You need to fix your code

[code]

[2016-05-09 15:39] andrewabdalla opened #65 "Pods - unable to update to v1.1.0"
I would like to use the newest version of Gifu but I am not able to update my current version to v1.1.0. Is it available for update on Pods?

[2016-05-10 02:26] muhasturk commented on #65
it seems that version bump script is not work.

[2016-05-10 15:26] orangenpresse commented on #44
I found out that you get no error if your image is not found.
First I had my image added to my assets. Then no error and no image appeard.

After added the gif to the project itself, everything worked.
Hope this helps.

[2016-05-13 04:12] MingLoan opened #66 "Crash log"
Anyone has any suggestions on this crash??

![screen shot 2016-05-13 at 12 10 32](https://cloud.githubusercontent.com/assets/5032142/15237763/ca5f2552-1903-11e6-9e71-0ef787c2aaa1.png)

[2016-05-15 12:10] lumo2707 commented on #44
I had the same issue. If I create an object of AnimatableImageView and add add the reference to the gif nothing happens.

`            let imageView = AnimatableImageView(frame: CGRectMake(0,0,150,150))
            self.view.addSubview(imageView)
            imageView.animateWithImage(named: "mugen")
            imageView.snp_makeConstraints(closure: { (make) -> Void in
                make.center

[2016-05-17 07:28] orangenpresse commented on #44
@lumo2707  With File -> Add Files to "Your Projectname"

[2016-05-19 03:22] MingLoan commented on #60
pod 'Gifu' still install v1.0.1

[2016-05-19 03:27] MingLoan commented on #60
your pod spec still pointing to 1.0.1 ...

[2016-05-19 14:42] adamszeptycki commented on #66
I have similar thing in my Project, surprising enough it happens only on iPhone 6s Plus. And only on device.
I don't have such device at hand to debug this.

[2016-05-27 02:12] jellybeansoup commented on #66
I'm also experiencing this issue. Despite @adamszeptycki's comment, it isn't limited to the iPhone 6s plus, as I can confirm crashes caused by this problem across multiple devices, both iPhone and iPad alike.

Unfortunately, crashes logged with remote sources aren't capturing a complete stack trace (for some reason), but I've been getting this issue in local testing, so I have been able to witness

[2016-05-27 03:19] jellybeansoup commented on #66
I believe I've sorted out the cause of this issue, and I've forked the repo and created a pull request (#68) with the fix. It'd be awesome if you both could confirm the fix on your end!

[2016-05-28 17:56] kaishin commented on #63
@alexth Currently the animation loops automatically. I am not sure I understand how is that not what you are after.

[2016-05-28 18:16] kaishin commented on #66
Fixed in 79f01b0. Thanks @jellybeansoup!

[2016-05-28 18:16] #66 closed

[2016-05-28 19:09] kaishin commented on #65
`1.2.1` is now available on Cocoapods. Thank you for your patience.

[2016-05-28 19:09] #65 closed

[2016-05-28 19:13] kaishin commented on #62
This was fixed in `1.2.0` onward. Please use the latest version to make these go away.

[2016-05-28 19:13] #62 closed

[2016-05-28 19:14] kaishin commented on #37
`1.2.1` is now available on Cocoapods. Thank you for your patience.

[2016-05-28 19:14] #37 closed

[2016-05-28 19:15] kaishin commented on #27
Closing this for now. Please use the latest version and reopen if this persists.

[2016-05-28 19:15] #27 closed

[2016-05-28 19:15] #21 closed

[2016-05-28 19:16] kaishin commented on #34
Closing this for now. If anyone has more concrete data using `1.2.1` please reopen.

[2016-05-28 19:16] #34 closed

[2016-05-28 19:17] kaishin commented on #17
Please use `1.2.1` and `AnimatableImageView` going forward. Older versions of Swift are no longer be supported .

[2016-05-28 19:17] #17 closed

[2016-05-29 16:23] SimenZhor commented on #44
Thanks @orangenpresse, this solved my issues

[2016-06-03 00:48] zheref opened #69 "Somehow Gifu memory address not being deallocated"
I'm profiling an application, and found out several Gifu memory addresses that are still allocated even when I already stopped the animation and made the AnimatableImageView instance nil.

<img width="424" alt="screen shot 2016-06-02 at 7 38 36 pm" src="https://cloud.githubusercontent.com/assets/1177000/15765365/aa0dcf8c-28f9-11e6-94f3-ec0d811da575.png">

It has become a bigger memory leak in my a

[2016-07-03 20:43] evgeniyd opened #71 "Carthage: Parse error: expected submodule commit SHA in output of task (ls-tree -z v1.2.1 Carthage/Checkouts/Runes) but encountered:"
While using Carthage to install the library, I got the output:

    $ carthage update --verbose
    *** Fetching Gifu
    *** Checking out Gifu at "v1.2.1"
    Parse error: expected submodule commit SHA in output of task (ls-tree -z v1.2.1 Carthage/Checkouts/Runes) but encountered:

I fixed this issue by cleaning up `/Carthage/Checkouts/` and running `$ carthage update --use-submodules`

Probably

[2016-07-03 21:01] evgeniyd opened #72 "Swift 2.3 compatibility required"
While we are all enabled to use Xcode 8 with Swift 2.3 toolchain, the project has to be refactored in order to support this.

So far, the workaround to actually build the library with Carthage and Xcode 8 is:

1. Fix the project to build with Swift 2.3
2. Run the following commands:

    `$carthage update --use-submodules --no-build`
     `$TOOLCHAINS=com.apple.dt.toolchain.Swift_2_3 carthage buil

[2016-07-03 21:35] evgeniyd commented on #72
This is a pull request with the changes #73

[2016-07-03 22:38] evgeniyd commented on #71
It is fixed in [72e8a5ea469f479f4cd3089eb0208a3588823b45]

**Note:** I didn't submitted it with PR #73 yet

[2016-07-04 08:20] evgeniyd commented on #71
**NOTE:**

this is not an appropriate fix, b/c it changes your project's git settings to use submodules, which in my case is not good at all.

Which is why the fix in the PR works for me.

[2016-07-08 02:13] chickdan opened #75 "Not compatible with deployment target iOS 9"
I've been working on an app with a deployment target of iOS 9. Unable to get gifs to load (they wouldn't display at all) I took a look at the demo and saw the deployment target was iOS 8. I switched and it works. Not a huge issue, but an issue none-the-less.

[2016-07-12 02:13] mrigdon commented on #69
Having this issue too. This is huge and really bad

[2016-07-15 01:32] mrigdon commented on #22
Is there a reason for this closure? I've found this memory issue too and it's a gaping hole. For some reason gifs are NOT being deallocated after they're done. How is this not being addressed?

[2016-07-22 16:31] mrigdon commented on #69
@zheref Did you find a fix for this? It's causing my app to crash.

[2016-07-28 10:08] buiminhhuy commented on #75
Me too

[2016-07-29 20:49] halonsoluis commented on #63
A user of your lib may want to use a gif as a part of a more complex flow, knowing when the animation has ended is a really cool and powerful feature.

[2016-08-05 20:33] morganzysman commented on #75
same here

[2016-08-10 01:06] aaronpearce commented on #75
Just noticed this myself. Strange issue.

[2016-08-10 01:50] aaronpearce commented on #75
iOS9 organizes its `.xcassets` as a compressed file `Assets.car` wheres iOS8 just puts the assets from the `.xcassets` directly in the main bundle.

This causes the below method to fail as there is no file at the `imagePath` generated as on iOS9 it is in the `Assets.car` file.

[code]

[2016-08-11 11:28] Quarezz commented on #71
Encountered this issue today:
[code]

[2016-08-11 13:21] evgeniyd commented on #71
@Quarezz did you use [my fork](https://github.com/evgeniyd/Gifu/tree/evgeniyd-carthage-submodule-fix)?

What I see from your logs, is exactly what I used to see until the fix.

[2016-08-17 06:55] Quarezz commented on #71
Moved to using UIImageView.animationImages so didn't check, thanks

[2016-09-08 13:06] zheref commented on #69
Me too. We had to change to another library :(

[2016-09-08 13:15] joelrfcosta commented on #69
Same here :(

[2016-09-08 13:53] DavidLari commented on #69
@zheref What library did you switch to?

[2016-09-08 14:27] zheref commented on #69
I switched to:
FLAnimatedImage (https://github.com/Flipboard/FLAnimatedImage)

[2016-09-13 23:00] mbodge opened #77 "Swift 3.0 Compatibility"
Hello hello, thanks for an awesome library!

Just updated my project to Swift 3.0 and tried to have XCode do the convert on Gifu with no luck. Is this in the pipeline?

[2016-09-13 23:01] mbodge commented on #77
Whoops, saw the branch. Thanks.

[2016-09-13 23:01] #77 closed

[2016-09-14 16:53] odedharth opened #78 "Swift 3"
not compatible with Swift 3 😕

[2016-09-15 11:42] kaishin commented on #78
I started working on compatibility here but it's still not updated to the final release yet: https://github.com/kaishin/Gifu/tree/swift3 I will try to tackle this this week and finalize the release.

[2016-09-16 01:22] Mosaics commented on #78
What time support wsift3?

[2016-09-20 10:56] run4jit commented on #78
any update when we can get update for swift 3.0

[2016-09-25 10:09] kaishin commented on #78
@run4jit [The swift3 branch](https://github.com/kaishin/Gifu/tree/swift3) now works with release Swift 3 so feel free to use it for now until the API is finalised. Currently testing performance and memory leaks + backward compatibility.

[2016-09-25 10:16] kaishin commented on #75
I will look into this before finalizing the 2.0 release.

[2016-09-25 10:19] kaishin commented on #72
@evgeniyd Thank you for opening the PR. I am currently focusing on Swift 3 support and will probably won't have time to back port. If you want to tackle this please wait until the final 2.0 release to minimize the amount of work you will have to do.

[2016-09-25 10:22] kaishin commented on #71
Fixed in #74.

[2016-09-25 10:22] #71 closed

[2016-09-25 18:22] kaishin commented on #78
Everything seems to be working fine so far on device. Simulator throws some warnings and has some frame issues but I am not worried about that. Tested on a 2013 iPod touch and worked like a charm.
Next is going to be several API changes to make using the library easier and more flexible.

[2016-09-25 18:23] kaishin commented on #72
@evgeniyd I pushed support for 2.3 in the [swift2.3](https://github.com/kaishin/Gifu/tree/swift2.3) branch. That branch will not be merged with master and should only be used in case upgrading to Swift 3 is not an option. Closing this for now.

[2016-09-25 18:23] #72 closed

[2016-09-26 09:53] xkenpachi commented on #78
There is still warnings and errors on my project. For example Animator.swift has error on 42. line

[2016-09-26 10:02] xkenpachi commented on #78
Actually i passed that errors but gifs are very speedy, how can i slow them? I have 2 frame gifs

[2016-09-26 13:46] kaishin commented on #78
@xkenpachi If you are still getting errors under 3.0 please let me know. I have fixed all of them as far as I am concerned.

Slowing GIFs is not supported and will not be in the forseeable future. If you have control over the GIF, do that when you export it.

[2016-09-26 14:05] xkenpachi commented on #78
@kaishin errors solved, thanks. In swift 2.2 gifs are worked perfectly, i don't think its about gifs because they working normal any html explorer or in finder preview or in xcode preview.

[2016-09-26 14:59] matrosovDev commented on #78
I am not sure if I did all rights. But it trows an error and says that method does not override anything

/// Updates the `image` property of the image view if necessary. This method should not be called manually.
  override open func displayLayer(_ layer: CALayer) {
    image = animator?.currentFrameImage ?? image
  }

[2016-09-26 17:01] xkenpachi commented on #78
@matrosovDev you just need the to do like this:

override open func display(_ layer: CALayer) {
    image = animator?.currentFrameImage ?? image
  }

[2016-09-29 10:49] kaishin commented on #69
@zheref @mrigdon Thank you for opening an issue. I will investigate but would appreciate it if people helped debug this.

[2016-09-30 19:43] kaishin commented on #63
@halonsoluis Fair enough. I will not work on features that I don't need. If someone really needs this, a PR would be very welcome.

[2016-10-01 11:52] kaishin commented on #22
@mrigdon This should be fixed in 2.0.

[2016-10-01 11:53] kaishin commented on #22
I will close once the official release is live.

[2016-10-01 11:56] kaishin opened #79 "Update documentation"

[2016-10-01 12:15] kaishin commented on #13
Sorry I am not familiar with that but it doesn't sound like something that will be built-in. If you add support to that after 2.0 is launched please let me know and I'll put it in the README!

[2016-10-01 12:15] #13 closed

[2016-10-01 12:16] #44 closed

[2016-10-01 12:18] kaishin commented on #61
@kaushikdas0 Try `prepareForReuse()`. This is will be easier in 2.0.

[2016-10-01 12:19] kaishin commented on #69
This has been fixed in the Swift 3 branch https://github.com/kaishin/Gifu/tree/swift3

[2016-10-01 12:23] kaishin opened #80 "Delegate that can be notified about the animation life cycle"

[2016-10-02 15:30] odedharth opened #81 "AnimatableImageView"
seems that AnimatableImageView has been replaced in the Swift 3 branch.

`let imageView = AnimatableImageView(frame: CGRect(...))`

How should it be replaced?

[2016-10-02 18:25] kaishin commented on #81
@odedharth You can use `GIFImageView` instead. The documentation will updated and will include a migration guide as well.

[2016-10-02 18:25] #81 closed

[2016-10-03 11:27] odedharth commented on #81
@kaishin How do you initialize it programmatically?

[2016-10-06 21:25] kaishin commented on #81
@odedharth Just like any `UIImageView`: using `frame` or `image`.

[2016-10-06 21:26] kaishin commented on #81
@odedharth Example here: https://github.com/kaishin/Gifu/tree/swift3#examples

[2016-10-06 21:59] #78 closed

[2016-10-06 21:59] #22 closed

[2016-10-06 21:59] #61 closed

[2016-10-06 21:59] #69 closed

[2016-10-06 21:59] #75 closed

[2016-10-06 21:59] #79 closed

[2016-10-06 22:00] kaishin commented on #78
Swift 3 support is now merged into `master`.

[2016-10-06 22:11] kaishin commented on #61
If you are on `master` (2.0), you can simply do `self.animator = nil` and use your image view normally.

[2016-10-07 10:17] ujikol opened #83 "source files loaded with Cocoa pod bring a lot of Swift3 error messages"

[2016-10-07 15:16] kaishin commented on #83
Are you pulling from master?

[2016-10-07 15:59] ujikol commented on #83
Obviously not. I just included: `pod 'Gifu'`
If I interpret the readme correctly then should do the trick.

[2016-10-07 20:08] kaishin commented on #83
@ujikol Sorry for the misunderstanding. You are using an older version of the library which doesn't support Swift 3. In order to fix that, you can use an unreleased version by doing this instead:

[code]

[2016-10-07 20:08] #83 closed

[2016-10-08 10:38] ujikol commented on #83
That works. thx

[2016-10-10 10:08] matrosovDev opened #84 "UIImageExtension.swift line 10 crash."
I have this code that I use in my app. All works good, but in few minutes I git crash. Depend on mode I show appropriate animation. I invoke the code below at least one time per second.

[code]

It's a crash log:

[code]

[2016-10-10 19:09] kaishin commented on #84
I take it this is on `1.x`. The issue seems to be coming from `UIImage.resize(CGSize)`. How is memory usage looking like? There were a couple of leaks in previous versions which I already fixed on 2.0.

In the meantime, please tunr off prescaling and report back: `animatableImageView.needsPrescaling = false`

[2016-10-10 23:12] iantheparker opened #85 "Swift3 animate(withGIFData:) crash"
Here's my call

[code]
And this is where the crash is pointing to

<img width="728" alt="screen shot 2016-10-10 at 7 06 10 pm" src="https://cloud.githubusercontent.com/assets/1368966/19253925/a8521886-8f1c-11e6-904d-098ec733634d.png">

[2016-10-11 20:51] kaishin commented on #85
@iantheparker That is unfortunately not enough to pinpoint the cause. Do you see anything in the console? Which thread is this running on? How are you importing Gifu in your project?

[2016-10-11 21:27] iantheparker commented on #85
Sorry about that. I've been catching a lot of bugs in swift3 branches lately and I was a bit too hasty here. The console was just giving me completely generic crash info. I'm using this in iOS 10's notification content extension and initializing the GIFImageView in a storyboard. I'm able to load a gif by name, and I'm able to display a static image via data/file, but whenever I try and load the sa

[2016-10-12 09:02] kaishin commented on #85
@iantheparker Thanks for the info. I would love to take a look but I need to reproduce this. I remember that depending on how the file is included in the project it might not work.

If you can share a minimal reproduction case that would be awesome, otherwise I'll try to reproduce this on my won.

[2016-10-16 11:39] hallelujahbaby opened #86 "Carthage Error"
I got this error while using Carthage, please help, thanks a lot :)

*** Fetching Gifu
*** Checking out Gifu at "v1.2.1"
Parse error: expected submodule commit SHA in output of task (ls-tree -z v1.2.1 Carthage/Checkouts/Runes) but encountered:

[2016-10-23 21:08] Drenadan commented on #85
@kaishin i have the same issue like @iantheparker when I use UITableView and my GIFImageView connected like CustomTableViewCell, so if I try to animate for example  cell.contentImage.animate(withGIFData: data1 as Data) I will have the same error like in first massage

[2016-10-23 21:48] Drenadan commented on #85
@kaishin newer mind, I found the problem in my case.

It's related to custom class, in storyboard need to choose GIFImageView and module Gufu instead of UIImageView, and after that gufu will work.

![screen shot 2016-10-24 at 12 45 52 am](https://cloud.githubusercontent.com/assets/13716043/19629730/a214eac2-9983-11e6-9b88-72019ef42e2a.png)

[2016-10-24 21:37] Drusy commented on #85
I confirm, this crash happen when you are using storyboard / xib to instanciate a `GIFImageView`. Xcode is not choosing any module (or even proposing or warning anything). So forcing the module to `Gifu` fix this.

[2016-10-28 16:23] chickdan commented on #86
Here is how I got around the issue:

1. If you are using other libraries remove Gifu from your cartfile. Then run "carthage update" so that you can checkout and build all of the other libraries without error.
2. Put Gifu back into the cartfile, run "carthage update" and wait for it to error out.
3. Run "carthage checkout Gifu"
4. Go into the checkouts folder, go into the Gifu folder, delete the .g

[2016-10-29 00:24] chickdan opened #90 "Carthage build failing."
I have already converted my project to swift 3 and used carthage to grab the swift 3 versions of the other libraries I use as well.

This is the error I am getting when trying to run carthage build on the master branch:

*** Building scheme "Gifu" in Gifu.xcworkspace
** CLEAN FAILED **

The following build commands failed:
	Check dependencies
(1 failure)
** BUILD FAILED **

The following build com

[2016-10-29 02:37] chickdan commented on #90
It has been a long week, I just realized I should be using the swift3 branch >.<

[2016-10-29 02:37] #90 closed

[2016-10-30 00:46] kaishin commented on #86
From the looks of it this is related to the way Carthage works. See here for similar cases: https://github.com/Carthage/Carthage/issues/135

I will close this for now but happy to re-open in case something needs to be changed on Gifu.

[2016-10-30 00:46] #86 closed

[2016-10-30 00:47] #85 closed

[2016-11-07 12:47] matrosovDev opened #93 "Can't use library with Swift 3"
I use this pod line in my pods file: `pod 'Gifu'`

Issues after Edit -> convert to current Swift version:

1. Method does not override any method from its superclass error.
[code]

2. Contextual member 'main' has no associated value error
[code]

[2016-11-13 10:56] kaishin commented on #93
Version 2.0 is not officially out yet. Please verify that you got the `2.0.0-rc` in your `Podfile.lock` and report back.

[2016-11-15 18:21] fdiaz commented on #93
@matrosovDev maybe use:

`pod 'Gifu', :git => 'https://github.com/kaishin/Gifu.git'` in your Podfile if you want to use what's on `master` until 2.0 is officially out.

[2016-12-03 15:28] mrachid commented on #93
Hello, i don't know why Gifu doesn't install with cocoapods, when i run pod install i have this error:

[1]    63053 abort      pod install

i don't understand, i don't have workspace

[2016-12-27 09:02] AlexSaenko commented on #93
Hello @kaishin. When 2.0 will be officially out?

[2016-12-27 16:10] kaishin commented on #93
@AlexSaenko This week.

[2016-12-27 16:11] AlexSaenko commented on #93
@kaishin thank you!

[2017-01-03 03:19] Mosaics opened #95 "Has a planned to support swift3 ?"
Has a planned to support swift3 ?

[2017-01-03 09:09] AlexSaenko commented on #93
Hello @kaishin . Happy New Year! Any news?

[2017-01-03 09:18] kaishin commented on #95
Duplicate of #93

[2017-01-03 09:18] #95 closed

[2017-01-05 00:42] kaishin commented on #93
Swift 3 support was merged in 439cc1e5c51e69c0ef6f8476dcb31df3cc5b1fa9.

[2017-01-05 00:42] #93 closed

[2017-01-05 00:42] #84 closed

[2017-01-05 00:43] kaishin commented on #84
Closing for inactivity.

[2017-01-05 15:51] gvlachos opened #96 "animation does not run if GIFImageView is in a loaded xib file"
I am using xcode 8.2.1 and swift 3

in my view controller in viewDidLayoutSubviews if I initialise a GIFImageView as follows

[code]

then the gif is displayed and animation runs successfully, however

if instead, in the same place (viewDidLayoutSubviews), I load the GIFImageView from a xib file and do the following

[code]

then the gif is displayed but the animation is not running.

I have attac

[2017-01-08 20:42] kaishin commented on #96
@gvlachos In the second code snippet, I do not see `self.image.prepareForAnimation(withGIFNamed: "image_name_a")`, are you doing it elsewhere?

[2017-01-09 09:01] gvlachos commented on #96
@kaishin ah yes, you are right, I missed this. In the xib file, I am using a variation so that a different image is displayed for a compact width than a regular width. So I need to find the image image currently displayed and call prepareForAnimation on it.

[2017-01-09 11:57] #96 closed

[2017-01-10 04:55] chickdan opened #97 "Having an issue switching from normal image to Gif"
Until the release of Gifu 2.0 I had been using the old Swift 2.3 branch and it's worked for my needs. However, I just converted my codebase to Swift 3 and have been having issues. I am trying to switch an image in a GIFImageView from a .png to a .gif, it worked fine before but now it is not and I haven't been able to figure out why.

prepareForReuse() was crashing the app. I tried two different th

[2017-01-10 10:17] kaishin commented on #97
Thanks for opening the issue @chickdan. I will try to reproduce this and report back.

[2017-01-11 23:40] kaishin commented on #97
@chickdan I am unable to reproduce the issue. Here is a screen recording of a quick demo I built to test this:

![toggle](https://cloud.githubusercontent.com/assets/519433/21870958/76b10a94-d85f-11e6-850a-ef818f9da34a.gif)

Could you provide some more info like console output?

[2017-01-12 03:43] chickdan commented on #97
Unfortunately there is no console output. If I use prepareForReuse() it crashes either at line 90 in GIFAnimatable.swift or the line in which I call the function in my code. If I do not use it then it crashes at line 57 of GIFAnimatable.swift.

Both crashes only give EXC_BAD_ACCESS errors.

[2017-01-15 02:09] chickdan commented on #97
@kaishin I have tried creating a new app as you did and I'm still having issues. Sometimes it does not crash but does not update the image view either, other times it crashes on prepareForReuse().

[2017-01-15 14:42] kaishin commented on #97
@chickdan Can you please share the app or code?

[2017-01-15 19:01] chickdan commented on #97
@kaishin here you go:

https://drive.google.com/open?id=0B2KgY_2tIcgPdHRqUExhbE1lZmM

[2017-01-16 18:50] cprovatas commented on #30
+1 on this as well.  I'm working in a project that is dependent on showing a new view controller when the gif image has finished.  It would be great for this to be dynamic instead having to manually find out the duration of the gif file.

[2017-01-22 20:50] kaishin commented on #97
@chickdan The issue here is due to not setting `GIFImageView` as the custom class of the image view in Interface Builder. The second issue is that loading GIFs from the Assets is unsupported/untested.

[2017-01-22 21:41] #97 closed

[2017-01-24 01:06] chickdan commented on #97
@kaishin Oops, forgot to set it in the test app but it was already set in the actual application I'm working on. I moved the two images to the project outside of Assets, still crashing. Then added them to "Copy Bundle Resources" under Build Phases, still crashing. How do I add them to the main bundle? I'm still quite new to iOS and this really doesn't make any sense considering the Assets folder h

[2017-02-02 10:20] kaishin commented on #97
@chickdan Sorry for the late response. After some investigation, it appears like Assets does not have proper support for GIF and you need to manually change the JSON file to add a GIF image. Even with that however, I was unable to make this work successfully.

Can you please upload the updated version of the test app with the changes you've made? It worked for me when I did the 2 changes I outline

[2017-02-02 11:56] parane2 opened #98 "image data from cache"
Thanks for great library.
Currently I am loading gifs from url in collection view. How can i access cache for getting image data ? or we need to create our own cache ?
Actually I am new to swift

[2017-02-06 00:13] chickdan commented on #97
@kaishin Here is the download link: https://drive.google.com/open?id=0B2KgY_2tIcgPNFRNb1R4U0Frclk

It's a hit and a miss whether or not the app crashes or the image doesn't update.

[2017-03-04 03:58] Vaestro opened #100 "Gif Editing"
Is it possible to edit GIFs using Gifu?

How I imagined this could work was if I let the User edit each frame using the activeFrame() method and then save the GIF. But now I realize activeFrame() is a read-only method. Is there anyway I can edit GIFs using GIFu and more specifically, is there a way to add text to a GIF to create a GIF meme?

[2017-03-06 08:49] kaishin commented on #100
I am afraid editing GIFs or adding text is out of scope for Gifu. The only purpose of Gifu is parsing GIF data and showing the frames in succession. Editing a frame would re-use very little of the current codebase.

[2017-03-06 08:49] #100 closed

[2017-03-08 16:25] Vaestro commented on #100
Thank you for answering. Do you know of any libraries I can use to help me edit GIFs? I've been searching around for a while and I'm a little lost for a solution.

[2017-03-09 06:20] samad5353 opened #101 "How can i use gif from a URL?"
Hi,

I have to play gif from a URL? Is this possible with this library?

[2017-03-16 09:13] kaishin commented on #101
Networking is considered outside the scope of this library and thus this feature will not be implemented. Different people prefer to use different networking architectures and I would like Gifu to remain network-agnostic.

[2017-03-16 09:13] #101 closed

[2017-03-20 20:58] filipealva opened #102 "1x, 2x or 3x?"
As I'm supposed to provide a single .gif image, what scale should I provide to get a great quality gif on all screen resolutions?

[2017-03-25 19:26] htarwara6245 opened #103 "Any Help with using inside UITableViewCell"
First of all, i would like to thank the developers who made this library.

I have many url of gif which will be display inside UITableViewCell. Unfortunately, I have no ideas how to load it them inside at CellForRowAtIndexPath. And your documentation didn't show at all.

A little help?

[2017-04-03 15:29] andreabar commented on #63
I did something like this:
class CustomGIFImageView : UIImageView, GIFAnimatable {
    private let completionQueue = DispatchQueue(label: "com.myapp.gif-queue")
    private var completionBlock = {}

    func startAnimatingGIF(withCompletionHandler callback: @escaping () -> ()) {
        startAnimatingGIF()
        completionBlock = callback

        completionQueue.async {
            while(self.i

[2017-04-07 20:30] Chrisdf opened #105 "Unable to implement intro/looping gif pair"
I am trying to implement a system where a GIFImageView will load a lead-in GIF, and then after the first GIF has played fully it will reset the GIFImageView to loop a secondary GIF indefinitely.

Currently, I have to implement the functions as follows:

[code]

And in my ViewController:

[code]

I have to do it this way because in the following code, the variable gifLoopDuration will always be 0 i

[2017-05-11 17:54] ban9ban3 opened #106 "Too slow animate"
![0c44dacf1b038014a6f941131c5e8aa2](https://cloud.githubusercontent.com/assets/10986151/25963901/2f1c3472-36ad-11e7-8050-02a50febc4cb.gif)

I just test with this image, but it look really slow speed. How can i increase the speed of animate?
Thanks!

[2017-05-13 10:59] kaishin commented on #106
Looking at this.

[2017-05-21 15:38] ugur10 opened #107 "APNG support?"
Hi!

Awesome library, congrats!

APNG support would be awesome. What are your thoughts about this?

[2017-06-04 13:10] ahavermale opened #108 "Low-Res First Frame"
First off, great framework, man; I appreciate the effort you put into documenting everything. Super clean and efficient.

I did stumble across one issue, however: I've noticed that the very first time an image begins animating, the very first frame appears to be low-resolution. It's particularly noticeable on GIFs whose first frame duration is longer than the rest (example attached). Hope this hel

[2017-06-25 20:10] GINNOV opened #109 "any plan to add support for tvOS?"

[2017-07-14 08:42] nikolaenkoag opened #110 "Is deprecated 'FLT_EPSILON'"
Hi! In file ImageSourceHelpers.swift 'FLT_EPSILON' is deprecated. Recommendations for use 'Float.ulpOfOne' or '.ulpOfOne'.

[2017-07-17 13:55] neokree commented on #110
Same here, @kaishin could you please upload a hotfix for this?

Gifu version: 2.0.0
XCode: 8.3.3
Swift: 3.1

[2017-07-30 18:01] kaishin commented on #110
Please update to `v2.0.1` which was just released. An oversight on my part.

[2017-07-30 18:01] #110 closed

[2017-07-30 20:33] SoundandStuff opened #112 "How do I download the previous Swift 3 Version?"
I see it's for swift 4, which is excellent. But how do I get the swift 3 for now?

[2017-07-30 22:57] SoundandStuff commented on #112
Click commits, click on previous 8.3 update and download it in case anyone is wondering.

[2017-07-30 22:57] #112 closed

[2017-07-30 23:17] kaishin commented on #112
Or just get the https://github.com/kaishin/Gifu/tree/swift3.1 branch.

[2017-08-24 01:27] ryandailey100 opened #113 "Restart gif to frame 0 after stopAnimatingGIF"
How can you restart the gif back to frame 0 after calling stopAnimatingGIF? Is this possible? Please let me know how this can be done ASAP. Thanks.

[2017-09-17 16:54] petaire92 opened #114 "Support for Swift 4?"
Hey!
Thanks for Gifu. Any chance to have a Swift 4 compatible one soon?

[2017-09-19 00:59] banxi1988 opened #115 "please add a showFrame(frameIndex:Int) method"
In my app, I need to show a frame in the middle range as a static image.(because the first frame showed nothing)
but Gifu didn't expose any such method.

[2017-10-31 18:30] acecilia opened #116 "Document setShouldResizeFrames"
Please, document `setShouldResizeFrames()` in the Readme.

It is the only way to adapt the gif size to the screen scale (in case of the retina displays). And it is one of the main advantages of this library against the others, that in general they do not support gif resizing.

It is useful to highlight the scaling possibility to the retina displays, so the devs are aware that it is not automatical

[2017-11-05 00:10] ashfurrow opened #117 "Patch release?"
Hello! I'm having some problems compiling projects integrated with Gifu 2.0.1 using Xcode 9.1:

![screen shot 2017-11-04 at 7 47 10 pm](https://user-images.githubusercontent.com/498212/32410642-2ac982e2-c19c-11e7-9c0c-30fcde9ec6de.png)

I can point CocoaPods at master, where the issue was fixed:

https://github.com/kaishin/Gifu/commit/50a9851d556240fe7341755c3b8ea207b142a803#diff-6f9d3282986dd930b

[2017-11-07 11:49] mahmutsahinn opened #118 "crash from crashlytics"
Hi, i got an error like this from crashlytics, do you have any idea? Thank you

#0. Crashed: com.twitter.crashlytics.ios.exception
0  Hesabim                        0x1007c8350 CLSProcessRecordAllThreads + 453704
1  Hesabim                        0x1007c8350 CLSProcessRecordAllThreads + 453704
2  Hesabim                        0x1007c820c CLSProcessRecordAllThreads + 453380
3  Hesabim

[2017-11-21 02:07] ashfurrow commented on #117
Hey just following on up this – any chance we could get a patch release? Thanks!

[2017-11-25 23:49] jlaws commented on #114
Any update on this?

[2017-11-28 17:18] jpm-polymorph commented on #114
I see mentioned in the commit messages that swift 4 support was added, but there has been no release after that. @kaishin if the Swift 4 support is ready, do you mind making a release?

[2017-12-11 11:26] MMSApps opened #119 "How to change the speed of the playing gif?"
Is it possible to change the speed of the gif?
Thanks

[2017-12-12 15:27] jlaws commented on #114
@kaishin Would be great to have Swift 4 be the latest podspec

[2017-12-13 21:46] ninjagal21 commented on #114
Hello, any updates?

[2017-12-14 03:31] liwei5544 opened #120 "Demo crash"
dyld: Library not loaded: @rpath/libswiftSwiftOnoneSupport.dylib
  Referenced from: /Users/weili/Library/Developer/Xcode/DerivedData/Gifu-ceouxxeuxkfitjfuqujdwowlaxzp/Build/Products/Debug-iphonesimulator/Gifu.framework/Gifu
  Reason: image not found

[2018-01-01 13:26] kaishin commented on #120
Thanks for opening this issue. This was solved in 7d62700

[2018-01-01 13:26] #120 closed

[2018-01-01 13:34] kaishin commented on #117
@ashfurrow Thank for your patience. I had some catching up to do with Gifu. I will try to get a `3.0` out asap.

[2018-01-01 15:23] kaishin commented on #98
Cache will not be implemented in Gifu unfortunately. Please use another library for this purpose like KingFisher or Nuke.

[2018-01-01 15:23] #98 closed

[2018-01-01 15:25] kaishin commented on #114
The `master` branch is already compatible with Swift 4. A proper release will be made asap.

[2018-01-01 21:39] kaishin commented on #114
As of https://github.com/kaishin/Gifu/releases/tag/v3.0.0 Gifu is fully Swift 4 compatible.

[2018-01-01 21:39] #114 closed

[2018-01-01 21:41] kaishin commented on #30
This can be done using `GIFAnimatable.gifLoopDuration` starting https://github.com/kaishin/Gifu/releases/tag/v3.0.0 😉 It used to be there before but didn't work properly if called immediately after calling any of the `animate()` functions.

[2018-01-01 21:41] #30 closed

[2018-01-01 21:41] kaishin commented on #117
https://github.com/kaishin/Gifu/releases/tag/v3.0.0

[2018-01-01 21:41] #117 closed

[2018-01-01 23:50] ashfurrow commented on #117
Cool, thanks for the follow-up. Have a good 2018!

[2018-02-01 17:39] ninjacn opened #121 "How to share Gif?"
[code]
`self.imageView.image` is static.
`self.imageView.animationImages`  can't be shared

please help

[2018-02-01 22:51] kaishin commented on #121
You should probably share its GIF `Data` object instead. You can also look into sharing it as a file with the .gif extension.

Either way, Gifu won't help you with sharing as its only supposed to animate GIFs. I can look into exposing a specific frame later on as a UIImage but not sure that will solve this problem.

[2018-02-01 22:51] #121 closed

[2018-03-12 16:45] yazankhayyat opened #123 "animation wont start"
Thank you for Gifu Im sure it works well and I might be missing something somewhere.

My GIF displays as the initial frame, but it never starts animating after calling the .startAnimatingGIF().

Below is my code:

class DiagnosisViewController: UIViewController, UITableViewDataSource, UITableViewDelegate {

    var diagnosisRowHeight = Height.diagnosisRow

    @IBOutlet weak var tableView: UITable

[2018-03-20 15:49] SheikhZayed opened #124 "swift 2.3 not supported"
how do i make it to run in swift 2.3 project,

i have a legacy project in which i need to use this lib.

[2018-03-21 08:33] kaishin commented on #124
Please point your dependency manager (Cocoapods, Carthage, etc) it to the `swift2.3` branch: https://github.com/kaishin/Gifu/tree/swift2.3

[2018-03-21 08:33] #124 closed

[2018-05-23 00:53] Hapsidra opened #127 "git with storyboard"
Hi!
Can i use this framework with storyboard without any code? I want to present gif in `LaunchScreen.storyboard` file. Thanks!

[2018-05-23 01:09] #127 closed

[2018-05-26 13:36] rob-nash opened #128 "UIKit on background thread"
Hi Guys,

Just discovered this and it's awesome! Just stepping through the code and it's pretty nice. One issue though.

It looks like UIKit is being touched from a background thread here.

<img width="705" alt="screen shot 2018-05-26 at 14 34 08" src="https://user-images.githubusercontent.com/14126999/40576668-2c298ae2-60f2-11e8-9b75-ceb2001a12f8.png">

[2018-06-05 20:47] jklausa opened #129 "Tag a new release"
Hey there!

First release of Xcode 10 has come out yesterday, and unfortunately Gifu no longer builds under it. Thankfully, the one build error that there is has been already fixed in `master` by #125. It would be awesome if there was a new tagged release, so we didn't have to point to a `master` in our Podfile.

Thanks in advance!

[2018-06-06 13:20] helloniklas opened #130 "Xcode 10 Overlapping accesses to 'imageContainer', but modification requires exclusive access; consider copying to a local variable"
Unable to compile in Xcode 10, Xcode 9 only throws a warning, but 10 won't compile.

[code]
Error: Overlapping accesses to 'imageContainer', but modification requires exclusive access; consider copying to a local variable

[2018-06-07 04:29] azureric commented on #130
It is fixed in #125. As a workaround, you can manually point Gifu to `master` in your Podfile.

I wish it can be tagged in a new release.

[2018-06-10 13:36] kaishin commented on #130
The fix has been released as part of https://github.com/kaishin/Gifu/releases/tag/v3.1.0 🎊 Thanks to @maicki for the fix!

[2018-06-10 13:36] #130 closed

[2018-06-10 13:36] kaishin commented on #129
Done! https://github.com/kaishin/Gifu/releases/tag/v3.1.0

[2018-06-10 13:36] #129 closed

[2018-06-10 13:41] kaishin commented on #128
Hi @rob-nash! Thank you for using Gifu 😉

`UIImage` is actually thread-safe.

[Source](https://developer.apple.com/documentation/uikit/uiimage)

[2018-06-10 13:41] #128 closed

[2018-06-10 14:34] rob-nash commented on #128
I wouldn’t be so sure about that

https://twitter.com/steipete/status/748854187841220608?s=21

[2018-06-10 15:13] kaishin commented on #128
If you are referencing to [this article](https://pspdfkit.com/blog/2016/investigating-thread-safety-of-uiimage/) then it's been fixed on iOS 10 according to the article itself. I will bump up the iOS requirement to 10.0 when iOS 12.0 is out of beta.

[2018-07-04 08:13] nguyenquocdathcmus commented on #118
hi @mahmutsahinn  . I also have a this prolem . can you tell me how to fix it

[2018-07-09 07:34] khushDesai opened #131 "Save GIF in to ios Photo Library"
Hey, Thanks for this library

I want to save GIF image into iphone's Photo Library. How do i achieve this?

Please Help!
Thanks.

[2018-07-11 09:34] kaishin commented on #131
Hi,

This library only concerns itself with reading a gif file or gif data and animating it on screen. The task of saving the gif to the camera roll is outside the scope.

You are more likely to find an answer to this in Stack Overflow if you look for something along the lines of 'save gif data to camera roll' or similar.

[2018-07-11 09:34] #131 closed

[2018-07-12 21:29] kaishin commented on #118
@mahmutsahinn @nguyenquocdathcmus Is any of you able to reproduce this locally? I can't make much from the crash report above and I am not familiar with it.

[2018-07-31 11:51] sharad-paghadal commented on #63
Worst solution @andreabar, `while(self.isAnimatingGIF) {}` this method will use CPU at 100%.

[2018-07-31 12:03] andreabar commented on #63
I'm not using this library anymore and I know that running a loop (even if it has an empty body) every tick it's very CPU consuming.
One solution could be put the thread to sleep for some milliseconds (since the code is running on a queue that is not the main thread that should not be an issue).
It would reduce the CPU usage, however this, could led to some delay after the moment when the animatio

[2018-07-31 13:26] GodriXx commented on #123
make sure your viewDidAppear and viewWillAppear works

`override func viewDidAppear(_ animated: Bool) {
super.viewDidAppear(animated)
    calculatorGIF.startAnimatingGIF()
}
override func viewWillAppear(_ animated: Bool) {
super.viewWillAppear(animated)
    calculatorGIF.prepareForAnimation(withGIFNamed: "calculatorGIF.gif")
    getData()
}
`

[2018-08-08 05:59] emmanueltugado opened #132 "ThreadSanitizer reports access race in FrameStore.swift"
If you turn on ThreadSanitizer and animate a gif, an access race is reported in `FrameStore.swift` at line 119.

The error summary is: `SUMMARY: ThreadSanitizer: Swift access race FrameStore.swift in _T04Gifu10FrameStoreC14animatedFramesSayAA08AnimatedB0VGvg`

[2018-08-14 15:29] kaishin commented on #123
As @GodriXx mentioned you should probably call super in your override. I will close this but please give an update if that didn't work for you.

[2018-08-14 15:29] #123 closed

[2018-08-23 08:40] zihang-wu commented on #106
me too

[2018-09-13 14:15] jlaws opened #133 "XCode 10 GM and Swift 4.2 fails to build"
[code]

[2018-09-28 11:14] kaishin commented on #133
Fixed in 3.2.0!

[2018-09-28 11:14] #133 closed

[2018-09-30 21:53] jlaws commented on #133
Works great, thank you!

[2018-10-02 08:18] tolgatanriverdi opened #136 "Xcode 10 common has been renamed error"
Hi
Today I tried to build my project but gifu pod gave the below error. Do you know how to fix it?

common' has been renamed to 'runloopmode.commonmodes'

[2018-10-05 22:17] kaishin commented on #136
Did you make sure to run the latest version?

[2018-10-10 06:30] aznelite89 commented on #136
I encountered the same issue on Xcode 10.
Error : 'common' has been renamed to 'RunLoopMode.commonModes'

[2018-10-10 07:39] aznelite89 commented on #136
change swift version of the pod to swift 4.2 had fixed this issue.

[2018-10-23 05:04] ThoseGuysInTown commented on #106
anything? Been experiencing slow gifs as well. Though mine are from the web & it only seems to be an issue on the iPhoneX and above...

[2018-10-23 08:31] kaishin commented on #106
I didn't reach any conclusions when I looked at this previously. I will take a second look.

[2018-10-30 22:15] #136 closed

[2018-11-19 00:52] mludowise opened #137 "Swift version update not included in latest podspec bump"
When installing Gifu version 3.2 using Cocoapods, it's not getting the latest revision which contains the swift version and the compiler thinks that the pod is on Swift 4.0 even though it's actually using 4.2 syntax. I think that you either need to bump the pod version or recut and tag a release that matches version 3.2 so the podspec is pointing to the latest commit.

[2018-11-19 00:53] mludowise commented on #137
My temporary solution was to set the commit in my Podfile using:
[code]

[2018-12-08 19:47] cerupcat commented on #106
Did you ever figure this out? I seem to be getting this on occasion.

[2018-12-09 10:49] kaishin commented on #106
Nothing to report so far, but I started rewriting certain implementation details that will likely give more insight as to what is happening here. I suspect the duration of the frames is not picked up properly, which results in using the default value that's hard-coded in the frame parser.

[2018-12-19 08:15] ThoseGuysInTown commented on #106
Only happens for me when there's a lot of work going on on the main thread. So not a problem with Gifu more so that it's the first thing to visibly slow when frames start to be dropped.

[2018-12-21 05:55] xspyhack opened #138 "`FrameStore. animatedFrames` thread safe"
It seems that `FrameStore. animatedFrames` is not thread safe, it will write in `preloadFrameQueue` and read in `main` queue. Is that right?

[2019-02-04 09:23] surayashivji opened #139 "Swift 4 Compiler Error - “Missing argument for parameter #1 in call”"
I'm trying to compile my project after installing the pod on my Swift 4 project and get the following error: “Missing argument for parameter #1 in call”

<img width="1680" alt="screen shot 2019-02-04 at 1 23 15 am" src="https://user-images.githubusercontent.com/12003060/52199619-7abdd500-281b-11e9-9047-8af6e16337ae.png">

Any ideas on how I can troubleshoot this? Thank you!

[2019-02-18 18:05] wehttam0 opened #140 "GIFAnimatable animate method completion handler doesn't work as expected"
How is the completion handler parameter below intended to work?

`public func animate(withGIFNamed imageName: String, loopCount: Int = 0, completionHandler: (() -> Void)? = nil)`

Per the api docs it says:
`completionHandler | Completion callback function`

The issue is that the completion handler is fired immediately and not when the animations are finished. Seems that the completionHandler is be

[2019-04-09 19:18] rebeloper opened #141 "Free YouTube Video Tutorial"
Hi, I like Gifu so much that I have decided to create a video tutorial about it!
You can take a look at it here:

[https://youtu.be/I1HthQ2oxUI](https://youtu.be/I1HthQ2oxUI)

Let me know what you think. If you like it consider adding the link with this image to your README.

![Gif in UIImageView Swift 5 Thubmnail](https://user-images.githubusercontent.com/2488011/55828630-837da080-5b15-11e9-8ba8-

[2019-04-10 11:23] kavin06 opened #142 "pod file version not supported"
Hi,
 I am using swift 4.2 but I its downloading swift 5.o version.Can you please help me for swift 4.2 pod version

[2019-04-15 04:45] #142 closed

[2019-04-15 04:47] kavin06 opened #143 "stop Animating gif"
Hi,
  When i Call stopAnimatingGIF() method the Gif Image is hidden.Any Solution For this ?  Please help

[2019-04-17 13:42] eviathan opened #144 "Animator.swift ln:105 calling deprecated code."
Can you update the library to be compliant with the latest versions of swift/ Foundation framework please. Let me see if I have time to do a PR.

'common' has been renamed to 'RunLoopMode.commonModes'

Kind regards

Brian

[2019-04-18 10:03] lethianqt94 opened #145 "UICollectionView cache image"
My uicollectionview has a list of cells which contains images. When I scroll up and down, cells show duplicate images. I think it causes by cache. I tried to set imageview.image = nil before set imageview's image by url but it's not working. Please help!

[2019-05-01 14:26] dan007b3 opened #146 "how can I get a gif from document directory?"

[2019-05-12 16:53] linus-hologram opened #147 "Please add (if possible) a way to compress GIFs"
Hello,

so far, I really enjoy working with GIFU. So, this is just a feature request and I don't know if it is even possible - but if it is, please add a way to compress a GIF before I e.g. upload it to my server.

Thanks!

[2019-07-12 18:36] decoyfox commented on #144
Same

[2019-08-01 06:45] steveluoxin opened #149 "prepareForAnimation(withGIFNamed:loopCount:completionHandler:)"
Hi! Thanks for the good work.
Is this method `prepareForAnimation(withGIFNamed:loopCount:completionHandler:)` executed on main thread? I find my `view` will stuck for a short time when calling this method.
Is there any chance you can make it execute on background thread, and main thread in `completionHandler`?

[2019-08-02 08:31] monolithic-adam commented on #145
What worked for me was doing
[code]

inside of the prepareForReuse

[2019-08-27 00:53] #149 closed

[2019-09-30 23:38] sttawm opened #151 "Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler"
I am on XCode 11.0 (I believe it recently auto-updated).

After the update, I get:
```Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler```

Is there a simple fix for this?

I am and have been using Carthage.

I've run `carthage update --platform iOS`

Cartfile is:
```github "kaishin/Gifu" ~> 3.2.1```

Admittedly, I haven't looked into the issue for more than 30 minutes, a

[2019-10-01 00:04] sttawm commented on #151
The top answer from [here](https://stackoverflow.com/questions/46726077/module-compiled-with-swift-4-0-cannot-be-imported-in-swift-4-0-1) helped me.

Specifically, I had to upgrade my command line xcodebuild tools to 11.0 (Preference->Locations->Command Line Tools) and then update with Carthage.

[2019-10-01 00:04] #151 closed

[2019-11-30 19:03] kaishin commented on #144
Resolved in f1a9e9f

[2019-11-30 19:03] #144 closed

[2019-11-30 19:05] kaishin commented on #141
Thanks @rebeloper. Sorry for the very late reply and thanks for your support!

[2019-11-30 19:05] #141 closed

[2019-11-30 19:10] #118 closed

[2019-11-30 19:11] kaishin commented on #109
Done as of v3.

[2019-11-30 19:11] #109 closed

[2019-11-30 19:13] kaishin commented on #102
Unfortunately there is no support for multiple resolutions.

[2019-11-30 19:13] #102 closed

[2020-01-29 11:25] RichardFevrier commented on #140
The doc is not up-to-date 🙂

[2020-01-29 12:14] kaishin commented on #140
I will fix. Thanks for pointing this out!

[2020-01-29 12:37] RichardFevrier commented on #140
You're welcome 🙂

[2020-02-05 15:16] ClaudiuStefaniga opened #155 "show gif, but not play"
Hello, I just want to show a gif, and play it at a later time, for example when pressing a button.
Is this possible?

[2020-03-03 12:54] MIOSY opened #156 "UIView animated being called from a background thread. Performing any operation from a background thread on UIView or a subclass is not supported and may result in unexpected and insidious behavior."
@kaishin @maicki @nicktoumpelis @izqui @mbcharbonneau

I'm facing issue when i use GIF player in SceneKit  please check below question for details->

https://stackoverflow.com/questions/60507447/playing-gif-using-gifu-library-in-scenekit-causes-app-ui-freeze-any-solution-ui

[2020-03-03 13:22] kaishin commented on #156
Thanks for opening the issue. In the future, kindly refrain from mentioning random contributors when doing so.

If you can take the time to produce a minimal case to reproduce the error I'd be happy to take a look.

[2020-03-03 13:32] MIOSY commented on #156
HI @kaishin I'm doing ar app which detects images on top of it i'm playing video and gif. For gif implemention i used your library that's working fine to play gif and it causes one issue.

If you need some more details to reproduce issue i can provide you. please download this zip and run final project in ios device. if you scan image it plays dinosar video on top of it. In the same place ARSceneV

[2020-03-03 15:57] kaishin commented on #156
Thanks for sharing this project. I will take a look.

[2020-03-03 16:10] MIOSY commented on #156
Yes please run final project in device and scan image dinosaur video will popup.
In place of video you need to replace code playing with GIF that can be done in ARSCeneView delegate didAdd node for method. After playing gif we can reproduce this app ui freeze issue.

Please let me knoe if anything is required i'm happy to provide any kind of details regarding this. Thank you.

[2020-03-03 18:06] MIOSY commented on #156
HI Bro @kaishin

Just run this in Device.
https://drive.google.com/file/d/1FKHPO6SkdOEZ-w_GFnrU5CeeeMQrNT-h/view?usp=sharing

You just run this project in device and scan dinosaur.png image(added ion xcode) you will gif playing on top of it. Once if you go back to firstVC that's all app is freezed you can't tap on any button in First VC and also hyou can't start AR scene again.
I can't figure out

[2020-03-04 10:01] MIOSY commented on #156
HI @kaishin

Did you able to reproduce issue by running this project in device.??

[2020-03-04 10:25] kaishin commented on #156
Yes, the project behaves the way you described.

[2020-03-04 11:06] kaishin commented on #156
@MIOSY I conclude that this is not a bug in Gifu. First off, Gifu never calls `setAnimationsEnabled`  directly. Second, since this issue happens when dismissing the VC, it's far more likely related to potential necessary cleanup in the parts managing your SceneKit node life cycle. I am not very familiar with that API so I will not be able to help.

I can reopen this issue if you have new informati

[2020-03-04 11:06] #156 closed

[2020-03-04 13:17] lukkas opened #157 "CFBundleShortVersionString being set to last tag in parent repository while building with Carthage"
Currently, due to `Set Version Number` (I assume) build phase, problem may occur with Carthage builds.

When Gifu is put to Carthage's Checkouts directory and then built, its Git repository is the one of project, that builds Gifu as its dependency. Therefore Gifu package ends up with CFBundleShortVersionString being set to last tag of containing project, rather than Gifu's actual version.

For me

[2020-07-08 22:21] kaishin commented on #157
I am very sorry to hear that. I will remove the `Set Version Number` in a future release.

[2020-07-20 02:22] hootigger opened #160 "iOS14 beta1 can't show gif"
iOS14 beta1,iPhone7 Plus
iOS14 beta1 can't show gif.

[2020-07-20 17:53] jverdi commented on #160
Hey - I made a PR to try to deal with this:
https://github.com/kaishin/Gifu/pull/159

Do you want to give it a try and see if it solves the issue for you?

[2020-07-21 01:44] hootigger commented on #160
@jverdi cool,the gif can be displayed normally.Thank you for solving my issue.
Device: iPhone8 iOS14 beta2.

[2020-07-22 08:57] #160 closed

[2020-07-27 20:50] SolorzanoJose opened #161 "GIF data"
How can I get back the gif data after it's set from a url?

[2020-08-03 13:00] yaakovgamliel opened #162 "Support iOS 14"
The library doesn't support iOS 14.
I did a couple of check and could not find the source of his issue, if someone can point me to the right class I can fix it and make a PR

[2020-08-03 13:31] kaishin commented on #162
There is currently a PR for this: https://github.com/kaishin/Gifu/pull/159

[2020-08-03 13:35] kaishin commented on #162
It's merged now. Try with the master branch.

[2020-08-03 14:18] yaakovgamliel commented on #162
Thanks!

[2020-08-03 14:24] yaakovgamliel commented on #162
Its working as expected, thank you for the quick response!

[2020-08-03 14:24] #162 closed

[2020-08-18 13:30] AvdLee commented on #157
I opened a PR fixing this!

[2020-08-18 13:53] #157 closed

[2020-08-26 10:30] seemayr opened #164 "GIFs without Duration-Info play too fast"
For example, [this gif](https://file1.staging.mega.lol/pool/rdy/86078.gif) does not have the _duration_ field set in its Exif Informations (ExifTool does not print the Duration Field at all) - Compared to [this one for example](https://file1.staging.mega.lol/pool/rdy/85870.gif), which has a duration of 5.4 seconds. These GIFS are kind of rare, but they are definitely around.

Loading the data of t

[2020-08-26 10:54] kaishin commented on #164
I think this is a sensible suggestion. You are welcome to open a PR, otherwise I will try to take a look at it once other issues are tackled.

[2020-08-26 11:58] seemayr commented on #164
I'll work on a PR, thanks.

[2020-08-26 23:51] #164 closed

[2020-09-17 09:27] RemyLivewall opened #167 "iOS 14 GIFAnimatable UIKit extension doesn't play GIF"
I have updated to the newest version of the library after noticing GIF's were no longer playing on iOS 14, but the issue persists with the implementation I use, which is basically the UIKit extension from: https://github.com/kaishin/Gifu#gifanimatable.

I have also replicated the fix that is implemented in the library itself in the extension, but to no avail.
[code]

[2020-09-22 18:11] ivoleko commented on #167
If you are using SPM, try to use master branch as source instead version. It seems that SPM still uses 3.2.2 as newest.

[2020-09-23 06:02] RemyLivewall commented on #167
I am using CoocaPods and verified that I am using version 3.3, so unfortunately this doesn't solve the issue for me.

[2020-09-23 08:22] SimeonRumy commented on #167
Currently, I am facing the same issue.

[2020-09-29 09:17] RemyLivewall commented on #167
After looking into the issue a bit more it looks like the [CALayerDelegate](https://developer.apple.com/documentation/quartzcore/calayerdelegate) methods are called on iOS 13 and lower, but won't get called on iOS 14. They should be called after the animator receives a new frame:
[code]

Adding the ```updateImageIfNeeded``` call results in animating GIF's. This proves the delegate methods don't ge

[2020-09-29 09:36] kaishin commented on #167
Thanks for looking into this @RemyLivewall. I need to take a closer look at this. If you find anything please don't hesitate to update the issue.

[2020-09-29 18:37] colemcampbell opened #168 "SwiftPM Package Resolution Failed for v3.3"
Swift Package Manager doesn't seem to be picking up the newest version of Gifu, causing package resolution to fail if you try to update to v3.3.

`because no versions of Gifu match the requirement 3.3.0..<4.0.0 and root depends on Gifu 3.3.0..<4.0.0, version solving failed.`

[2020-09-29 19:45] colemcampbell commented on #168
The reason seems to be that SwiftPM expects a three period separated integer for the version number like 3.3.0, but the version tag is 3.3.

[code]

[2020-09-30 10:25] bluerainxty opened #169 "Gifu.h is unneeded"
cocoapods or carthage doesnt need Gifu.h ,you can see alamofire doesnt have alamofire.h

[2020-09-30 20:26] raffibedo commented on #167
I have the same problema, it doesn't play in iOS 14. In one case, it just show the first frame of the gif. Any idea?

[2020-10-01 07:16] RemyLivewall commented on #167
I did some debugging with the iOS 13 and iOS 14 sims and the stack trace at the ```animatorHasNewFrame``` point is the same.
![GIFAnimatable-iOS13](https://user-images.githubusercontent.com/23557749/94776592-4c164a00-03c2-11eb-8f73-d8d1e4a0f3a6.png)
![GIFAnimatable-iOS14](https://user-images.githubusercontent.com/23557749/94776595-4caee080-03c2-11eb-9018-dd824161684a.png)

As mentioned before only

[2020-10-08 04:12] baiRookie commented on #167
之前一直找不到图片加载不出来的原因，经过一番折腾，发现是UIimageView重写了display方法导致的，最后选择放弃使用此框架，因为UIimageView的继承使项目中其他的图片全部无法展示，最后使用SDWebImage加载，非常完美的解决了这个毛病，

[2020-10-08 11:26] thebugcode commented on #167
As @baiRookie  says we Replaced Gifu with SDWebImage as we don't currently have the capacity to investigate all the ins and outs of gif loading. Might get involved in trying to solve the Gifu problem early next week but it's good to have a fallback

[2020-10-14 06:54] CloseServer commented on #167
@kaishin
How to solve the problem discussed above?

[2020-10-14 06:57] Jinxiansen commented on #167
@kaishin
How to solve the problem discussed above?

[2020-10-14 07:21] kaishin commented on #167
I should have a fix by the end of the week. Thank you all for the help.

[2020-10-14 12:21] Jinxiansen commented on #167
@kaishin
Oh, great!
Looking forward to your results!
thank you very much!🍺🍺🍺

[2020-10-15 13:55] RemyLivewall commented on #167
I found a fix for the problem. Changing the display layer method with the following fixes issues for displaying images and GIF's on my end:
[code]

I had issues with normal images no longer showing up either when building my app with Xcode 12. Which got me thinking and checking the original fix as implemented in other libraries. Because we are overriding the implementation of UIImageView in an ext

[2020-10-15 13:59] #167 closed

[2020-10-16 20:29] KhoiNguyen1004 commented on #167
Hi I don't get what you mean, I am running to display a gift in a collectionViewCell, so I would use alamofire to download to data and use play gift with data with gifu, however you fixed way isn't for the collectionviewcell. Do you have any idea about it ?

[2020-10-17 17:49] rval commented on #168
Running into the same thing. I was able to use SPM to install the `v3.3` branch, but it doesn't work with the tag.

[2020-10-19 05:35] RemyLivewall commented on #167
@KhoiNguyen1004 The fix mentioned is only needed if you are using an extension (or category) on UIImageView. Because the original implementation seems to be lost on iOS 14. What kind of view are you using to show the GIC in you UICollectionViewCell?

[2020-10-21 01:03] KhoiNguyen1004 commented on #167
I am using normal imageview, and make extension as example, I tried to implemented a custom class for gifu but it seems like doesn't work at all.

[2020-11-03 12:22] Wizfinger opened #170 "Compatibility with objc"
Is there any way that this library can be made compatible with objc so it can be imported into objc projects?

[2020-11-06 14:20] alanpridestar commented on #167
Hi everyone,

I don't think this issue should be closed. I attempted to follow the suggested solution, but similarly to Khoi, I am unable to play the gif in app.

`class GifuImageView: UIImageView, GIFAnimatable {
	public lazy var animator: Animator? = {
	  return Animator(withDelegate: self)
	}()

	override open func display(_ layer: CALayer) {
		guard let image = image else {
			return
		}
		lay

[2020-11-12 14:32] RemyLivewall commented on #167
Are you using the GIFImageView, an extension on UIImage or a different method of trying to play the GIF files? Is it possible for you to share the code you were using before it worked?

[2020-11-18 10:30] dev-aj-catalystmi opened #171 "Value of type 'GIFImageView' has no member 'animatedFrames'"
I am using Gifu v.3.3, I migrated from v.3.2, in that GIFImageView had property animatedFrames but I am getting this error after migration, is There any substitute for this parameter ?

`self.imageView.animatedFrames`

[2020-11-18 11:56] dev-aj-catalystmi commented on #138
How to access animatedFrames in v.3.3?

[2020-11-20 07:40] mikhailb1990 commented on #167
I successfully got around this issue by updating the pod to version 3.3 and replacing animatedFrames with animationImages if that helps anyone.

[2020-11-29 23:34] kaishin commented on #168
Fixed. Thanks @kean for the reminder!

[2020-11-29 23:34] #168 closed

[2020-11-30 02:32] DamonHu commented on #167
As @RemyLivewall  said, the difference is that after I change the `image` to `activeFrame`, it works well. This is the code I modified

[code]

[2020-11-30 10:56] ManuEspeso commented on #168
@kaishin This changed breaks cocoapods installation, I've tried all possibilities (pod install, pod repo update, pod update ...) in a project with Gifu 3.3 and fails because cocoapods doesn't find any version with this tag

[2020-11-30 11:27] kaishin commented on #168
I will push a fix momentarily.

[2020-11-30 13:24] kaishin commented on #168
I restored the v3.3 tag for now. Sorry for the inconvenience.

[2020-11-30 14:15] ManuEspeso commented on #168
Thanks for the quick response!

[2020-12-02 21:13] viktorvrchlavsky commented on #167
@RemyLivewall @DamonHu Thank you guys for solving this 🙏

[2020-12-22 15:00] dsrees commented on #167
FYI, updating Gifu to 3.3 resolved the issue for me.

[2021-01-23 12:17] Theome commented on #132
This is an issue for me, too. It might be possible to fix this by wrapping access to `FrameStore.animatedFrames` with a `NSLock`, but I don't know what performance implications this would have.

[2021-02-06 18:55] diegogarciar commented on #167
Hello, I'm still having this issue, I ran the example project and it works, but `UIImageViewExtension.swift` has no target, so just by setting a target to the file, the extension kicks in and the animation breaks

[2021-03-15 08:25] jams032 opened #172 "In the app, GIF quality degraded, but correct in the Google drive with same file(size)"
Hi, first of all, thank you so much for the nice library implementation in iOS. I was using this in my iOS app. Everything works fine except the quality of the GIF.

I downloaded the GIF with the same size from the server, saved it to the app, and display it as well. But the problem is, when it shows in the app, the quality is degraded a lot. Same quality issue found in iMac when I open the GIF. M

[2021-03-19 06:09] Danie1s opened #173 "Index out of range"
![QQ20210319-130649](https://user-images.githubusercontent.com/19432029/111738676-b8c3c900-88bc-11eb-9856-4dc44266187c.png)
![QQ20210319-130716](https://user-images.githubusercontent.com/19432029/111738681-bb262300-88bc-11eb-883a-1bab291428eb.png)

[2021-03-23 07:22] AkilanCB commented on #138
I too get the same problem. Thread sanitiser reports race condition. Did someone found any work around ?

[2021-05-26 17:25] ruby109 opened #174 "Static GIF Image not show properly"
If you would like to display a static GIF Image(only 1 frame), the first frame is not added to the image. Also due to it's a static image, it can't be showed by then `startAnimatingGIF()` function.
There are two ways to show it, use `GIFAnimatable`'s `prepareForAnimation(withGIFData:loopCount:completionHandler:)` or `updateImageIfNeeded()`.
I think maybe other function start with `prepareForAnimat

[2021-06-02 22:19] kean commented on #173
I sometimes get this crash as well, will update the comment if I figure out the reason.

[2021-06-06 20:12] kaishin commented on #174
Thank you for opening the issue.

I haven't thought about this use case before, but I wonder if Gifu wouldn't be overkill for displaying static GIFs.

I would gladly consider a PR if the changes only minimally affect the API surface. Otherwise I would wait until the next major version since I am expecting some sizable refactors to take place.

[2021-06-07 12:35] #173 closed

[2021-06-16 09:59] monalisamarketing commented on #167
With
[code]
the gif works well but other images over the app are not displayed neither on testflight nor production
but with
[code]

[2021-06-22 12:12] kean opened #177 "Support other image formats"
I suggest adding an option to extend the framework to add other image decoders, e.g. WebP, APNG. Most of the display logic can be presumably reused across the formats.

There [were](https://github.com/Flipboard/FLAnimatedImage/pull/86) [attempts](https://github.com/Flipboard/FLAnimatedImage/pull/143/files) to extend FLAnimatedImage to support additional formats, but none of them got merged. I don'

[2021-06-22 18:43] eliburke commented on #177
Core Image supports GIF natively. That's the display logic. Gifu just makes it play nice with Swift.

[2022-05-28 16:02] Camelot93 opened #180 "Gifu animate method not displaying gif"
I am unable to display the gif value when calling animate on GIFImageView, here is a more detailed post of the issue https://stackoverflow.com/questions/72417169/gifu-not-showing-image

thank you

[2022-07-15 03:50] wjling commented on #167
Still have the problem that gif won't play. I test it on iOS 15

[2022-08-23 16:05] robinst commented on #105
@Chrisdf Not sure if this existed when you opened this issue, but there's a `completionHandler` argument to `prepareForAnimation`:

https://github.com/kaishin/Gifu/blob/e6e71c0220b7a4b21791b5e7149a3bb47afa1d2e/Sources/Gifu/Classes/GIFAnimatable.swift#L110-L112

That's called when the GIF has been prepared and you can safely read `gifLoopDuration` there.

I think this exact issue can be closed.

[2022-10-12 05:12] paulfreeman commented on #172
I notice that your gif in the sample to the right (in your app) is presented with a different, scaled, aspect ratio. Could this problem be due to how you are scaling the presented gif?  Does this happen when an image is presented at the same aspect ratio and without scaling, as GoogleDrive appears to be doing?